---
import Layout from '../layouts/Layout.astro';
import { Navbar } from '../components/Navbar';
import Footer from '../components/Footer.astro';
import { ResetPasswordForm } from '../components/auth/ResetPasswordForm';

export const prerender = false;

const title = "Set New Password | QuickBMICalculator";
const description = "Set a new password for your QuickBMI account.";
---

<Layout title={title} description={description} robots="noindex, nofollow">
	<Navbar client:load />

	<main class="flex-grow flex flex-col w-full min-h-screen bg-canvas">
		<ResetPasswordForm client:load />
	</main>

	<Footer />
</Layout>
